.navbar{
    list-style-type:none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.navbar-item{
    margin: 10px;
    list-style-type:none;
}

a:link {
    color: black;
  }
  
  /* visited link */
  a:visited {
    color: black;
  }
  
  /* mouse over link */
  a:hover {
    color: black;
  }
  
  /* selected link */
  a:active {
    color: black;
  }

  .google-image{
    display: flex;
    justify-content: center;
    align-items: center;
   }

   .rounded-input{
    display: flex;
    background-color: white;
    border: 1px solid whitesmoke;
    border-radius:24px;
    height: 44px;
    width:584px;
    z-index:3;
    margin-top: 10px;
   }

   .google-button{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
   }
   
   .appbar{
    color: #d93025;
    font-size: 20px;
    margin: 25px 35px;
  }

  .line{
    border-bottom: 1px solid #ebebeb;
  }

  .line1{
    display: inline-block;
    min-width: 167px;
    width: 16%;
    font-size: 16px;
    min-height: 42px;
    font-weight: 500;
    color: #333;
    vertical-align: middle;
    margin: 50px;
    font-size:16px
  }

  .row-input{
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
  }
  
  .left{
    width: 300px;
  }

  .right{
    width: 500px;
  }

  .btn-advanced{
    box-shadow: none;
    background-color: #4d90fe;
    border: 1px solid #3079ed;
    color: #fff;
  }

  .btn-div{
    display: flex;
    justify-content: flex-end;
    width: 550px;
    margin-top: 10px;

  }